@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

/* Layout */
$inner-width: 1000px;
$inner-width-small: $inner-width / 2;

/* color */
$color-default: #252525;
$color-ci: #00c84f;
$color-white: #fff;
$color-error: #e65f3e;
$color-gray: #f2f4f7;

/* Font-family */
$font-family-default: 'Noto Sans KR', sans-serif;

/* Font-size */
$font-size-default: 14px;
$font-size-small: $font-size-default - 2px;
$font-size-large: $font-size-default + 2px;
$font-size-extra: $font-size-default + 4px;

$font-size-title: $font-size-default * 3.5;
